.custom-submit {
  background: theme-color(primary) !important;
  color: theme-color(primaryContrast) !important;
  font-size: 1.2rem !important;
  transition-duration: 0.4s !important;
}

.custom-submit:hover {
  background: theme-color(secondaryContrast) !important;
}

.no-border {
  border: 0;
}
