/** Search form */
.search-form {
  @extend .form-inline;
}

.search-form label {
  @extend .form-group;

  font-weight: normal;
}

.search-form .search-field {
  @extend .form-control;
}

.search-submit {
  color: theme-color(secondaryContrast) !important;
}

.search-form .search-submit {
  @extend .btn;
  @extend .btn-secondary;
}

.newsletter-inputs input {
  background: theme-color(secondaryContrast) !important;
  border: 0 !important;
  color: theme-color(placeholders) !important;
  height: 30px !important;
}

.newsletter-inputs-placeholders > input::placeholder {
  color: theme-color(placeholders) !important;
}

.contact-form input {
  background: theme-color(secondaryContrast) !important;
  border: 0 !important;
  color: theme-color(primaryContrast) !important;
}

.contact-form input::placeholder {
  color: theme-color(primaryContrast) !important;
}

.contact-form textarea {
  background: theme-color(secondaryContrast) !important;
  border: 0 !important;
  color: theme-color(primaryContrast) !important;
}

.contact-form textarea::placeholder {
  color: theme-color(primaryContrast) !important;
}

.newsletter-padding {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

#wpforms-form-676 div {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

#wpforms-submit-676 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  height: 35px !important;
}
