/**
 * WordPress Generated Classes
 * @see http://codex.wordpress.org/CSS#WordPress_Generated_Classes
 */

/** Media alignment */
.alignnone {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  height: auto;
}

.aligncenter {
  display: block;
  height: auto;
}

.alignleft,
.alignright {
  margin-bottom: ($spacer / 2);
  height: auto;
}

@include media-breakpoint-up(sm) {
  .alignleft {
    float: left;
    margin-right: ($spacer / 2);
  }

  .alignright {
    float: right;
    margin-left: ($spacer / 2);
  }
}

/** Captions */
.wp-caption {
  @extend .figure;
}

.wp-caption img {
  @extend .figure-img;
  @extend .img-fluid;
}

.wp-caption-text {
  @extend .figure-caption;
}

/** Text meant only for screen readers */
.screen-reader-text {
  @extend .sr-only;
  @extend .sr-only-focusable;
}

//remove background padding in custom block with text
p.has-background {
  padding: 0%;
}

.black-background {
  background: theme-color(primary);
  width: calc(100% - 50%);
  margin-left: 10%;
  margin-right: 10%;
}

.padding-top-bottom {
  padding-top: 3%;
  padding-bottom: 3%;
}

.padding-top {
  padding-top: 7%;
}

.padding-bottom {
  padding-bottom: 3%;
}

.margin-top-bottom {
  margin-top: 30px;
  margin-bottom: 30px;
}

.margin-left-4 {
  margin-left: 4%;
}

.padding-15-percent {
  padding: 15%;
}

.padding-left-right {
  padding-left: 10%;
  padding-right: 10%;
}

.text-justify {
  text-align: justify;
}

.light-gray-background {
  background-color: theme-color(lightGrayBackground);
}

.remove-margins {
  margin-block-end: 0;
  margin-block-start: 0;
  margin: 0;
}

.letter-spacing {
  letter-spacing: 10px;
}

.square {
  border: 2px solid theme-color(primary);
}

.padding-for-square-paragraph {
  padding-bottom: 5%;
  padding-top: 5%;
}

.square-padding {
  padding: 2%;
}

.padding-for-contact-form {
  padding-right: 2%;
  padding-left: 2%;
}

.uppercase {
  text-transform: uppercase;
}

.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@media only screen and (max-width: 768px) {
  .black-background {
    background: theme-color(primary);
    margin-left: 0 !important;
    width: unset !important;
  }

  .letter-spacing {
    letter-spacing: 3px;
  }
}

.responsive-embed-container {
  position: relative;
  overflow: hidden;
  padding-bottom: 56.25%;
  height: 0;
  max-width: 100% !important;
}

.responsive-embed-container iframe,
.responsive-embed-container object,
.responsive-embed-container embed {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
