.footer_container {
  background-color: theme-color(primary);
}

.footer_h1 .primary {
  color: theme-color-level(primaryContrast);
}

.secondary-contrast {
  background: theme-color(primary);
  color: theme-color(primaryContrast);
}

.company-title {
  color: theme-color(primaryContrast);
}

.content-info {
  padding: 1%;
  background-color: theme-color(primary);
  color: theme-color(primaryContrast);
}

.contact-info {
  color: rgb(234, 234, 233);
}

.column {
  padding: 1%;
}

.row {
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 1%;
  padding-right: 1%;
}

.footer-menu {
  color: theme-color(primaryContrast);
  font-weight: bold;
  text-transform: uppercase;
}

.footer-menu :hover {
  color: theme-color(secondaryContrast);
  text-decoration: none;
}

.vl {
  border-left: 1px solid theme-color(primaryContrast);
}

.navbar-nav a {
  color: theme-color(primaryContrast);
}

.contact-form-inputs > input {
  background: theme-color(secondaryContrast) !important;
  color: theme-color(primaryContrast);
}

.contact-form-inputs > textarea {
  background: theme-color(secondaryContrast) !important;
  color: theme-color(primaryContrast);
}

.contact-form-inputs > input::placeholder {
  color: theme-color(primaryContrast);
}

.contact-form-inputs > textarea::placeholder {
  color: theme-color(primaryContrast);
}

div#img {
  vertical-align: bottom;
  display: table-cell;
}

.logo-maison-imago {
  position: relative;
  top: 100%;
  transform: translateY(-100%);
}

.img-fit-div {
  width: 100%;
}

.logo2 {
  width: 50%;
  height: auto;
  object-fit: contain;
}
