.social-menu-padding a {
  margin-left: 1%;
  margin-right: 15px;
}

.nav-menu {
  justify-content: center;
}

.banner .nav li {
  @extend .nav-item;
}

.nav-link {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.banner .nav a {
  padding-top: 0;
  padding-bottom: 0;
}

.home-icon :hover {
  background-color: theme-color(primaryContrast);
}

body {
  margin: 0;
  font-size: 28px;
}

.header {
  background: theme-color(primaryContrast);
  white-space: nowrap;
}

#navbar {
  background-color: theme-color(primaryContrast);
  text-align: center;
}

#navbar li {
  display: inline;
}

#navbar a {
  color: theme-color(primary);
  text-decoration: none;
  display: inline-block;
}

#navbar ul {
  align-content: center;
}

.social-menu {
  font-size: 28px;
  justify-content: flex-end;
}

@media only screen and (min-width: 1025px) {
  .left-border li + li {
    border-left: 1px solid #000;
  }
}

#border a + a {
  border-left: 1px;
}

#navbar a:hover {
  background-color: transparent;
  font-weight: bold;
}

.sticky + .content {
  padding-top: 70px;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 10;
}

.content-right {
  display: flex;
  justify-content: flex-end;
}

.maison-logo {
  height: 3rem;
  object-fit: contain;
  width: 100%;
}

@media only screen and (max-width: 1025px) {
  .home-icon {
    float: center;
    width: unset;
  }

  .social-menu ul {
    justify-content: center;
  }
}
