/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: rgb(26, 29, 29),
  primaryContrast: rgb(255, 255, 255),
  secondaryContrast: rgb(61, 61, 61),
  lightGrayBackground: #eee,
  placeholders: rgb(111, 111, 111)
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$grid-breakpoints: (
  xs: 0,
  sm: 480px,
  md: 768px,
  lg: 1024px
);

$container-max-widths: (
  sm: 420px,
  md: 720px,
  lg: 960px
);
